body{
    background-color:hsl(26, 67%, 91%);
    margin-top:100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    
}
.element{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.element img{
    width:100%;
    border-radius: 15px;
}
#head1
{
    font-size: 36px;
    font-family:'Young Serif','sanserif';
    margin-right: 210px;
    margin-top:30px
}
.element p{
    font-size: 16px;
    font-family:'outfit','sanserif';
    margin-top: -15px;
    font-weight: 300;
}
.box{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    background-color: #fff7fb;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    font-family: 'outfit','sans-serif';
    
}
.box h3{
    color:#822a4a;
}
#head2,#head3,#head4{
    font-size: 30px;
    margin-right: 520px;
    color: #8a3f2c;
    font-family:'Young Serif','sanserif';
}
.element ul{
    margin-top:-5px;
    margin-right: 40px;
    width: 100%;
    font-family: 'outfit','sans-serif';
}
.element ul li::marker{
    color: #8a3f2c;
}
.element ol{
    margin-right: 40px;
    width: 100%;
    font-family: 'outfit','sans-serif';
    
}
.element ol li::marker{
    color: #8a3f2c;
}
.row {
    display: flex;
    padding: 8px 0;
    margin-right:250px;
    font-family: 'outfit','sans-serif';

  }
  .heading{
    width:150px;
    padding-right: 150px;
    color:#8c8784;
    font-weight: 600;
  }
  .content{
    width: 100%;
    color: #8a3f2c;
    font-weight: bold;
  }
  hr{
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;             
    width: 100%;  
  }